@mixin bordered($color: $muted-light, $type: solid, $width: 1px) {
    border: $width $type $color;
}

@mixin btn($color: $blue, $bgColor: $white, $borderColor: $muted-light) {
    @include bordered($color: $borderColor);
    color: $color;
    background-color: $bgColor;
    font-size: 1rem;
}

@mixin actiontitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: $secondary;
}

@mixin actionlist{
    .list {
        display: flex;
        padding: 17px 0px;
        align-items: center;
        .list-tag {
          font-size: 1.3rem;
          margin-right: 16px;
          color: $secondary;
        }
        .list-info {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: $primary;
          .list-checkbox {
            border-radius: 8px;
            margin-right: 0px;
          }
        }
      }
}
