/*
    Define color
*/
$blue : #0052FF;
$sky-blue : #4BCFFA;
$yellow : #F9B506;
$danger : #FF2D55;
$white : #FFFFFF; 
$primary : #475461;
$secondary : #9DA8B4;
$secondary-300 : #C2CCD6;
$grey-light : #F9F9F9;
$grey-dark : #F2F2F3;
$muted-light : #E3E5E8;